<p>
  <mat-toolbar  color="primary">
    <span>Access Zombies Code</span>
  </mat-toolbar>
</p>

<div style="margin-left:5rem ;">
<div>
  <qr-code [value]="values" [size]="width" [level]="level"></qr-code>
</div>
<label >
  <b>QR CODE VALUE :  </b> <span>{{values}}</span> 
</label>
<br>
<br>
<br>

<strong> QR Code Value :</strong>
<button (click)="qrData('https://google.com/')"> Google Url</button>
<button (click)="qrData('https://www.youtube.com/channel/UCwdMuWWPmgb1wEgzqVGTqBw')"> Access Zombies Code</button>
<button (click)="qrData('https://github.com/accesszombiescode')"> GitHub Url</button>
<button (click)="qrData('Hi Frinds Check this')"> Funny</button>
<button (click)="qrData('London')"> London</button>

<br />
    <br />
    <br />
    
    <strong> QR code Change Width</strong>:
    <button (click)="qrWidth(100)">100</button>
    <button (click)="qrWidth(200)">200</button>
    <button (click)="qrWidth(350)">350</button>
    <button (click)="qrWidth(450)">450</button>
    
    <br />
    <br />
    <br />
    
    <strong> QR code Update Level</strong>:
    <button (click)="qrLevel('L')">L</button>
    <button (click)="qrLevel('M')">M</button>
    <button (click)="qrLevel('Q')">Q</button>
    <button (click)="qrLevel('H')">H</button>








</div>



<router-outlet></router-outlet>
